<ion-header>
  <ion-toolbar color="success">
  <ion-buttons slot="start">
<ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-title>GYM</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
    <ion-list color="success">
      <ion-item color="success">
        <ion-avatar>
          <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg">
        </ion-avatar>
        <ion-label>
          <h1>Williams Santoza</h1>
          <p>Gathered: <span clas="money">$ 14,00</span></p>
        </ion-label>

      </ion-item>
    </ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Last Pickup call</ion-card-subtitle>
        
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          On hold
          <p>05/06/2023 20:26:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Created at 04/05/2023</p>
          <p>Notes: We have two customers with Quaterly membership </p>
        </ion-label>
      </ion-item>
      <ion-button color="succes" fill="clear" size="full" (click)="goToPickupCalls()">See all..


      </ion-button>
      </ion-card-content>

    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="newPickupCall()">
        <ion-icon name="add">

        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

